:root {
  --white: #fff;
  --dark-gray: #3f3f3f;
  --light-gray: #747474;
  --light-green: #83c27e;
  --green: #99b100;
  --pink: #c27ebc;
  --orange: #fd8900;
  --blue: #051bd9;

  --xs: 480px;
  --sm: 768px;
  --md: 1024px;
  --lg: 1200px;
  --xl: 1600px;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: var(--dark-gray);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 16px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 16px;
  text-align: center;
}

.container {
  flex-grow: 1;
  max-width: var(--xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-content {
  padding: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-card {
  padding: 16px;
  margin: 16px;
  width: calc(16.666% - 64px);
  min-width: 160px;

  border-radius: 8px;
  overflow: hidden;

  background-color: var(--light-gray);

  text-align: center;
  color: var(--white);

  cursor: pointer;
}

.pokemon-card > img {
  width: 100%;
  object-fit: contain;
}

.pokemon-card-id {
  font-size: larger;
}

.pokemon-card-name {
  font-size: larger;
}

.chip {
  min-width: 56px;
  border-radius: 4px;
  overflow: hidden;
  margin: 4px;
  color: var(--white);
}

.chip-grass {
  background-color: var(--light-green);
}

.chip-poison {
  background-color: var(--pink);
}

.chip-fire {
  background-color: var(--orange);
}

.chip-water {
  background-color: var(--blue);
}

.chip-bug {
  background-color: var(--green);
}
