:root {
  --white: #fff;
  --dark-gray: #3f3f3f;
  --light-gray: #747474;
  --light-green: #83c27e;
  --green: #99b100;
  --pink: #c27ebc;
  --orange: #fd8900;
  --blue: #051bd9;

  --xs: 320px;
  --sm: 480px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1200px;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 16px;
}

.container {
  flex-grow: 1;
  max-width: var(--xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-content {
  padding: 0.01rem 16px;
}
